<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="edu.gmu.cs.mason.category.wizards"
            name="MASON">
      </category>
      <wizard
            canFinishEarly="false"
            category="edu.gmu.cs.mason.category.wizards"
            class="edu.gmu.cs.mason.wizards.project.ui.MasonProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/sample.gif"
            id="edu.gmu.cs.mason.wizard.project"
            name="Mason Project"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="edu.gmu.cs.mason.category.wizards"
            class="edu.gmu.cs.mason.wizards.agent.AgentWizard"
            icon="icons/sample.gif"
            id="edu.gmu.cs.mason.wizard.agent"
            name="Mason Agent">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="edu.gmu.cs.mason.wizard.project">
         </newWizardShortcut>
         <newWizardShortcut
               id="edu.gmu.cs.mason.wizard.agent">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <newWizardShortcut
               id="edu.gmu.cs.mason.wizard.project">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut
               id="edu.gmu.cs.mason.wizard.project">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=edu.gmu.cs.mason.menu.source.separator">
         <command
               commandId="edu.gmu.cs.mason.command.GenerateProperty"
               label="Generate Property"
               style="push">
         </command>
         <command
               commandId="edu.gmu.cs.mason.command.AddGrid"
               label="Add Grid"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=additions">
         <separator
               name="edu.gmu.cs.mason.menu.source.separator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="edu.gmu.cs.mason.command.category"
            defaultHandler="edu.gmu.cs.mason.handlers.PropertyGenerationHandler"
            id="edu.gmu.cs.mason.command.GenerateProperty"
            name="Generate Property Functions">
      </command>
      <category
            description="Defines bunch of command used by Mason Eclipse Plugins"
            id="edu.gmu.cs.mason.command.category"
            name="Mason Operation">
      </category>
      <command
            categoryId="edu.gmu.cs.mason.command.category"
            defaultHandler="edu.gmu.cs.mason.handlers.GridAdditionHandler"
            id="edu.gmu.cs.mason.command.AddGrid"
            name="Add Grid">
      </command>
   </extension>
   <extension
         id="masonnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="edu.gmu.cs.mason.nature.MasonProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <resolver
            class="edu.gmu.cs.mason.template.AgentTypeResolver"
            contextTypeId="java"
            type="agentType">
      </resolver>
      <resolver
            class="edu.gmu.cs.mason.template.FieldVariableResolver"
            contextTypeId="java"
            type="fieldVar">
      </resolver>
      <resolver
            class="edu.gmu.cs.mason.template.FieldPortrayalVariableResolver"
            contextTypeId="java"
            type="portrayalVar">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.gmu.cs.mason.preferences.GeneralPreferencePage"
            id="edu.gmu.cs.mason.preferences.general"
            name="Mason">
      </page>
      <page
            category="edu.gmu.cs.mason.preferences.general"
            class="edu.gmu.cs.mason.preferences.WizardPreferencePage"
            id="edu.gmu.cs.mason.preferences.wizards"
            name="Wizards">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.gmu.cs.mason.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
